<li class="post job {{last}}">
      <span class="title">
        <a href="https://github.com/{{username}}/{{name}}">{{name}}</a>
      </span>
      <span class="date">
        {{#language}}{{language}} &ndash; {{/language}}Creator &amp; Owner; {{date}}
      </span>
      <p>
	{{{description}}} {{#homepage}}<a href="{{homepage}}">{{homepage}}</a>{{/homepage}}
      </p>
      <p>
    This repository has {{watchers}} {{watchersLabel}} and {{forks}} {{forksLabel}}.
    If you would like more information about this repository and my
    contributed code, please visit
    <a href="https://github.com/{{username}}/{{name}}">the repo</a> on
    GitHub.
      </p>
</li>

