<p class="enlarge">
  On GitHub {{#earlyAdopter}}as an early adopter {{/earlyAdopter}} since {{since}}, {{name}} is a developer
  {{#location}}
  based in <span class="adr locality">{{location}}</span>
  {{/location}}
  {{#repos}}with <a href="https://github.com/{{{username}}}?tab=repositories">{{repos}} public {{reposLabel}}</a>{{/repos}}{{^repos}}without any public repository for now{{/repos}}{{#followers}}&nbsp;and <a href="https://github.com/{{{username}}}/followers">{{followers}} {{followersLabel}}</a>{{/followers}}.
</p>

<p id="mylanguages">
  <div class="yui-u first">
     <h2>Languages</h2>
  </div>
  <div class="yui-u" id="content-languages">
  </div>
</p>

<section id="essays">

  <h2>Popular Repositories</h2>
  <ul>

    <div id="jobs">
      <span>Loading information...</span>
    </div>
  
    <li class="post">
      <span class="title">
        <a href="/essays/customize-your-heroku-deployment.html">Customize Your Heroku Deployment</a>
      </span>
      <span class="date">
        Jul 03, 2010
      </span>
    </li>

  </ul>

</section>


<div id="doc2" class="yui-t7">

  <div id="inner" class="vcard">

    <article>
      <div id="yui-main">
        <div class="yui-b">


          <div id="contributions" class="yui-gf">
            <div class="yui-u first">
              <h2>Contributions</h2>
            </div><!--// .yui-u -->

            <div class="yui-u" id="contrib-jobs">
              <span>Loading information...</span><img src="images/loader.gif" />
            </div><!--// .yui-u -->
          </div><!--// .yui-gf -->

          <div class="yui-gf" id="organizations">
            <div class="yui-u first">
              <h2>Organizations</h2>
            </div><!--// .yui-u -->

            <div class="yui-u" id="orgs">
              <span>Loading information...</span><img src="images/loader.gif" />
            </div><!--// .yui-u -->
          </div><!--// .yui-gf -->


          <div id="about" class="yui-gf last">
            <div class="yui-u first">
              <h2>About This Site</h2>
            </div>
            <div class="yui-u">
              <p class="enlarge">
                This r&eacute;sum&eacute; is generated automatically using public information from the developer's GitHub account. The repositories are
                ordered by popularity based on a very simple popularity heuristic that defines the popularity of a repository
                by its sum of watchers and forks. Do not hesitate to visit <a href="https://github.com/{{{username}}}" title="{{name}}'s GitHub page">{{name}}'s GitHub page</a>
                for a complete work history.
              </p>
            </div>
          </div><!--// .yui-gf -->
        </div><!--// .yui-b -->
      </div><!--// yui-main -->
    </article>


  </div><!-- // inner -->

</div><!--// doc -->

